a.article:link{font-size:13px;color:#039;text-decoration:underline;border:none;}
a.article:visited{font-size:13px;color:#039;text-decoration:underline;border:none;}
a.article:hover{font-size:13px;color:#006;text-decoration:none;border:none;}
a.article:active{font-size:13px;color:#666;text-decoration:underline;border:none;}

.head{
	width:597px;
	height:26px;
	margin-top:6px;
	padding-left:4px;
	background:#dcdcdc;
	line-height:26px;
	font-size:18px;
	color:#333;
	}

.articlehead {
	width:597px;
	margin-top:6px;
	padding-left:4px;
	background:#dcdcdc;
	line-height:26px;
	font-size:18px;
	color:#333;
	}

.article {
	list-style-type:none;
	list-style-image:url(../images/arrow.gif);
	margin-top:4px;
	padding-left:4px;
	width:597px;
	line-height:22px;
	font-size:13px;
	}