a.detail:link{font-size:13px;color:#039;text-decoration:none;border:none;}
a.detail:visited{font-size:13px;color:#039;text-decoration:none;border:none;}
a.detail:hover{font-size:13px;color:#006;text-decoration:underline;border:none;}
a.detail:active{font-size:13px;color:#666;text-decoration:underline;border:none;}

.subhead{
	height:auto;
	width:597px;
	line-height:18 px;
	font-weight:bold;
	color:#666;
	padding-bottom: 4px;
	padding-top: 4px;
	}
.detail{
	width:597px;
	line-height:18px;
	font-size:13px;
	color:#666;
	}
.detail ul a{
	list-style-type:none;
	margin-left:0px;
	}
.detail li{
	list-style-type:none;
	list-style-image:url(../images/arrow.gif);
	width:auto;
	height:auto;
	font-size:13px;
	line-height:auto;
	padding-bottom: 2px;
	padding-top: 2px;
	}
.detail li a{
	color:#039;
	}
.detail li a:visited{
	color:#039;
	}

.detailnoarrow{
	width:597px;
	line-height:18px;
	font-size:13px;
	color:#666;
	}
.detailnoarrow ul a{
	list-style-type:none;
	margin-left:0px;
	}
.detailnoarrow li{
	list-style-type: decimal;
	width:auto;
	height:auto;
	font-size:13px;
	line-height:auto;
	padding-bottom: 2px;
	padding-top: 2px;
	}
.detailnoarrow li a{
	color:#039;
	}
.detailnoarrow li a:visited{
	color:#039;
	}

.detailimg{
	width:597px;
	text-align:center;
	line-height:20px;
	margin-top:4px;
	margin-bottom:4px;
	}
.imgblank1{
	width:106px;
	padding:3px;
	border:1px solid #999;
	line-height:0px;
	font-size:0px;
	margin-top:25px;
	}
.imgblank2{
	width:360px;
	height:486;
	padding:3px;
	border:1px solid #999;
	line-height:0px;
	font-size:0px;
	margin-top:50px;
	}