html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

body {
    background-color: #EEEEEE;
    color: #000000;
    font-family: verdana, geneva, sans-serif;
}

a, a.active, a:visited, a:hover {color: #57068c;}

#wrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #888888 #888888;
    border-image: none;
    border-right: 1px solid #888888;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 2px 5px 5px 2px #888888;
    margin: 0 auto;
}

#uw-header {
    background: none repeat scroll 0 0 #000000;
    border-bottom: 5px solid #FECB00;
    color: #FFFFFF;
    padding: 10px 1% 0 1%;
    height: 55px;
}

#uw-logo {
    width: 300px;
    float: left;
}

#uw-search {
    float: right;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

#uw-search-text {
    background-color: #555555;
    border: none;
    color: #FFFFFF;
    font-size: 1.2em;
    height: 2em;
    line-height: 2em;
    padding: 0 5px;
    width: 16em;
    margin-left: 5px;
}

#uw-search label {
    display: inline;
    font-size: 1em;
    position: relative;
    top: -4px;
}

#uw-search-submit {
    position: relative;
    top: -4px;
    width: 17px;
}

#comsec-header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #CCCCCC;
    padding: 15px 10px;
}

#content {
    float: right;
    min-height: 400px;
}

#content-wrapper {
    padding: 1.5em 1.5em 1.5em 0em;
}

#content p {
    text-align: justify;
}

.figure {
    text-align: center;
    width: 100%;
    margin: 1em 0em;
}

.figure .caption {
    text-align: center;
    padding: 1em;
}

.text-block {
    margin: 1em 0px;
}

#sidebar {
    float: left;
}

#sidebar-wrapper {
    border-right: 1px solid #CCCCCC;
}

#sidebar a {
    border-bottom: 1px solid #EEEEEE;
    border-right: 5px solid #FFFFFF;
    display: block;
    overflow: hidden;
    padding: 0.75em 0.3em 0.5em 1.2em;
    text-decoration: none;
    text-overflow: ellipsis;
    z-index: 50;
}

#sidebar a.active {
    background-color: #EEE;
    border-right-color: #DDD;
    border-bottom-color: #DDD;
    color: #000;
}

#sidebar a:hover {
    background-color: #EEEEEE;
    border-color: #57068C;
    border-bottom-color: #57068C;
    color: #000000;
}

#sub-nav {
    font-size: 0.9em;
    margin-top: 2em;
}

#footer {
    background: none repeat scroll 0 0 #000000;
    clear: both;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 15px;
    position: relative;
}

#watermark {
    background: url("../img/watermark.png") no-repeat scroll -32px 0 transparent;
    position: absolute;
    top: -170px;
    left: 0px;
    width: 200px;
    height: 170px;
    z-index: -1;
}


