body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet•;}
.T
	{text-align:center;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:white;
	mso-color-index:3;
	font-size:200%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:80%;}
.B
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bulletl;
	color:#99CCFF;
	mso-color-index:4;
	font-family:Wingdings;
	font-size:70%;}
.B1
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:65%;}
.B2
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.B3
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:40%;}
.B4
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.NB
	{mso-special-format:nobullet•;}
.N
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1B
	{mso-special-format:nobullet•;}
.N1
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2B
	{mso-special-format:nobullet•;}
.N2
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3B
	{mso-special-format:nobullet•;}
.N3
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4N
	{mso-special-format:nobullet•;}
.N4
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet•;}
.O
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:85%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:80%;}
.CB
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobulletl;
	color:#99CCFF;
	mso-color-index:4;
	font-family:Wingdings;
	font-size:70%;}
.CB1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:65%;}
.CB2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.CB3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:40%;}
.CB4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet•;}
.CT
	{text-align:center;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:white;
	mso-color-index:3;
	font-size:152%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:80%;}
.HB
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bulletl;
	color:#99CCFF;
	mso-color-index:4;
	font-family:Wingdings;
	font-size:70%;}
.HB1
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:123%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:65%;}
.HB2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	font-size:104%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.HB3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:40%;}
.HB4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:80%;}
.QB
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bulletl;
	color:#99CCFF;
	mso-color-index:4;
	font-family:Wingdings;
	font-size:70%;}
.QB1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	font-size:104%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:65%;}
.QB2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.QB3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:40%;}
.QB4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.TblB
	{mso-special-format:nobulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:80%;}
.Tbl
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1B
	{mso-special-format:nobulletl;
	color:#99CCFF;
	mso-color-index:4;
	font-family:Wingdings;
	font-size:70%;}
.Tbl1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2B
	{mso-special-format:nobulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:65%;}
.Tbl2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3B
	{mso-special-format:nobulletl;
	color:blue;
	mso-color-index:6;
	font-family:Wingdings;
	font-size:60%;}
.Tbl3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4B
	{mso-special-format:nobulletl;
	color:#669999;
	mso-color-index:2;
	font-family:Wingdings;
	font-size:40%;}
.Tbl4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:left;
	font-family:Arial;
	mso-ascii-font-family:Arial;
	mso-bidi-font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:133%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:blue !important;}
a:active
	{color:#9999FF !important;}
a:visited
	{color:#6666CC !important;}
